{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'logo/images.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block title %}
    <title>
        Ask.fm
    </title>
    {% endblock title %}
    <style>
        img {
            max-width: 100px;
            max-height: 100px;
        }

        #footer{
            position: fixed;
            bottom: 0;
        }
    </style>
</head>
<body>
    {% include 'header.html' %}
    {% block content %}
    <p>Welcome to Ask.fm site! </p>
    
    {% endblock content %}
    {% include 'footer.html' %}
    
</body>
</html>